*{
	margin:0;
	padding:0;
}
.container {
	display: inline-block;
	height: 45px;
	width:100%;
	border:#eeedee;
	background-color:#eeedee;
}
.container2 {
	display: inline-block;
	height: 40px;
	width:100%;
	border:#FF0000;
	background-color:#FF0000;
}

.container3 {
	display: inline-block;
	height: 36px;
	width:100%;
	border:#eeedee;
	background-color:#eeedee;
}
.menu_container{
	display: block;
    background-color:#eeedee;
}
.menu_container2{
	display: block;
    background-color:#FF0000;
}

.menu_container3{
	display: block;
	margin: 10px;
	background-color:#eeedee;
}

.item_menu{
	display: block;
	min-width:  100px;
	line-height: 40px;
	text-align: center;
	border:#FF0000;
	color: #FF0000;
	
	margin-right: 5px;
   
    }
.fl{
    float: left;
    margin-left: 20px; 
    
}
.fr{
    float: right;
    margin-right: 40px; 
}

.FS{
    font-size: 30px;
}

.item_menu2{
	display: block;
	width: 140px;
	line-height: 40px;
	text-align: center;
	border:#000000;
	color: #ffffff;
	float: left;
	margin-right: 5px;
	background-color:#FF0000;
}
.item_menu3{
	display: block;
	min-width: 120px;
	line-height: 15px;
	text-align: center;
	border:#000000;
	color: #000000;
    margin-right: 5px;
    text-decoration:underline;
    
	
}

.item_menu2:hover{
	background-color:#8B0000;
	color:#fff;
}
.color{
	background-color:#000000;
	color:#000000;
}

.block1{
	display:block;
	background-color:#eeedee;
	width:100%;
	padding-top: 25px;
}
.block_left{
	display: inline-block;
	width: 97%;
	margin: 0 1.5%;
	background:white;
}
.text1{
	display:block;
	float:left;
	width: 57%;
	text-align:justify;
	margin: 0 0.5%;
}

.text2{
	display: block;
	float:left;
	width: 20%;
	margin: 0 0.5%;
	text-align:justify;
}

.text3{
	display:block;
	float:left;
	width: 20%;
	margin: 0 0.5%;
	text-align:justify;
}